@import "../../common/skin/skin-default.scss";

#consoleApp {
    #profile-btn li:nth-child(1) {
        &.open {
            input {
                visibility: visible;
                opacity: 100;
                -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            }
        }

        form {
            position: relative;

            input {
                width: 170px;
                height: 30px;
                font-size: 12px;
                background: #F3F3F3;
                border: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                opacity: 0;
                -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                visibility: hidden;
            }

            button {
                position: absolute;
                top: -2px;
                right: 0;
                z-index: 1;
                outline: none;

                i {
                    color: $main-profile-bg-color;
                    -webkit-transform: rotateY(180deg);
                    -moz-transform: rotateY(180deg);
                    -ms-transform: rotateY(180deg);
                    -o-transform: rotateY(180deg);
                    transform: rotateY(180deg);

                    &:hover,
                    &:focus {
                        color: $main-profile-hover-bg-color;
                    }
                }
            }
        }
    }
}