$login-body-bg-color:                                                   #2C2E2F;
$login-body-font-color:                                                 #FFF;

$login-loading-bar-color:                                               #68B828;

$login-button-bg-color:                                                 #2C2E2F;
$login-button-border-color:                                             rgba(55, 57, 58, .9);
$login-button-bg-color-hover:                                           rgba(55, 57, 58, .3);
$login-button-box-shadow:                                               rgba(0, 0, 0, .08);

$login-fa-wechat:                                                       #21A557;
$login-fa-wechat-hover:                                                 #008557;
$login-fa-weibo:                                                        #55ACEE;
$login-fa-weibo-hover:                                                  #2795E9;
$login-fa-qq:                                                           #3B5998;
$login-fa-qq-hover:                                                     #2D4373;

$login-input-bg-color:                                                  #313334;
$login-input-border-color:                                              transparent;
$login-input-error-border:                                              rgba(204, 63, 68, .5);

$login-label-font-error-color:                                          rgba(255, 255, 255, .7);


$main-body-bg-color:                                                    #EEE;

$main-header-bg-color:                                                  #FFF;

$main-badge-success-bg-color:                                           #8DC63F;
$main-badge-purple-bg-color:                                            #7C38BC;

$main-profile-bg-color:                                                 #979898;
$main-profile-hover-bg-color:                                           #606161;

$main-nav-bar-bg-color:                                                 #2C2E2F;
$main-nav-bar-border-color:                                             #313437;

$main-nav-icon-color:                                                   #919798;
$main-nav-icon-active-color:                                            #FFF;

$main-nav-label-success-bg-color:                                       #8DC63F;
$main-nav-label-warning-bg-color:                                       #FFBA00;
$main-nav-label-error-bg-color:                                         #D5080F;