@import "../HeaderBar/HeaderBar.react.scss";
@import "../NavBar/NavBar.react.scss";
@import "../NavHeader/NavHeader.react.scss";
@import "../Panel/Panel.react.scss";

@import "../UserAdd/UserAdd.react.scss";
@import "../UserList/UserList.react.scss";

@import "../Introduction/Introduction.react.scss";

@import "../InputControl/InputControl.react.scss";
@import "../SelectList/SelectList.react.scss";
@import "../SimpleButton/SimpleButton.react.scss";
@import "../ExSelectList/ExSelectList.react.scss";
@import "../SwitchControl/SwitchControl.react.scss";

#consoleApp {
    height: 100%;

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    #scrollBarContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main-body-bg-color;

        .main-content {
            margin-left: 80px;
        }
    }
}